$def with (page)

<html>
<head>
    <title>Banners</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        #menu {
            width: 200px;
            float: right;
        }
        
        a {
            color: #900B09;
        }
        a:hover {
            color: #FF0000;
        }
    </style>
</head>
<body>

<ul id="menu">
    <li><a href="/$:medium">Listado de banners</a></li>
    <li><a href="/$:medium/new">Agregar banner</a></li>
</ul>

$:page

</body>
</html>