$def with (medium, banner, form)

<style type="text/css">
    td, th {
        padding: 0.4em;
    }
</style>

$var title: Modificar banner
$var menu: <li><a href="/$:medium" class="act_link">Cancelar</a></li><li><a href="#" onclick="return eliminar();">Eliminar este banner</a></li> 


<form action="" method="post" enctype="multipart/form-data">
$:form.render()
</form>

<img src="/$banner.file" />

<script>
    function eliminar() {
        if (confirm('¿Seguro que deseas eliminar este banner?'))
        {
            jQuery('#deleteForm').submit();
        }
    }
</script>

<form action="/$medium/delete/$banner.id" method="post" id="deleteForm"></form>