$def with (banners, zone)

<h2>Lista de banners</h2>

<style type="text/css">
    td, th {
        border: 1px solid gray;
        margin: 0;
        padding: 3px;
        text-align: center;
    }
    th {
        background: lightgray;
    }
    
    td.file img {
        max-width: 180px;
        max-height: 120px;
    }
    
    td.link {
        max-width:200px;
        word-wrap:break-word;
        font-size: 90%;
    }
    
    td.link span {
        font-size: 80%;
        color: #333333;
    }
    
    th.zone {
        font-size: 150%;
    }
    
    th.zone {
        font-size: 125%;
    }
    
    td.created_at {
        width: 80px;
    }
    
    ul.zone_filter li {
        list-style: none;
        display: inline;
        margin-right: 1.2em;
    }
    ul.zone_filter a {white-space: nowrap;}
    
    table a {
        display: block;
    }
</style>

<ul class="zone_filter">
    <li class="todo">
        $if zone != '':
            <a href="/$:medium">TODO</a>
        $else:
            TODO
    </li>
    $for z in zones:
        <li class="$z[0]">
            $if zone != z[0]:
                <a href="/$:medium?zone=$z[0]">Zona $z[0] ($z[1]x$z[2])</a>
            $else:
                Zona $z[0] ($z[1]x$z[2])
        </li>
</ul>

<table cellspacing="0">
    
$if not banners:
    <h2>Ningún banner a mostrar</h2>
    
$ last_zone = None
$for banner in banners:
    $if last_zone != banner.zone:
        <tr>
            <th>Zona</th>
            <th>Subzona</th>
            <th>Peso</th>
            <th>Banner</th>
            <th>Link</th>
            <th>Colocación</th>
            <th>Impresiones</th>
            <th>Clicks</th>
            <th>Acciones</th>
        </tr>
    $ last_zone = banner.zone
    
    <tr class="$banner.zone">
        <th class="zone"><a href="http://ad.openmultimedia.biz/$:medium/$banner.zone/">$banner.zone</a></big></strong></th>
        <th class="subzone"><a href="http://ad.openmultimedia.biz/$:medium/$banner.zone/$banner.subzone/">$banner.subzone</a></big></strong></th>
        <td class="weight">$banner.weight</td>
        <td class="file"><a href="$banner.file"><img src="/$banner.file"></a></td>
        <td class="link">
            $if banner.link:
                <a href="$banner.link" target="_blank">$banner.link</a>
                <span>
                $if banner.link_mode == 0:
                    abre en la misma página
                $else:
                    abre en nueva página o pestaña
                </span>
        </td>
        <td class="created_at">$banner.created_at</td>
        <td class="views">$:formatWithCommas('%i', banner.views)</td>
        <td class="clicks">$:formatWithCommas('%i', banner.clicks)</td>
        <td class="actions"><a href="/$:medium/edit/$banner.id">Editar</a>
    </tr>

</table>