$def with (banners)

$code:
    def rate(banner):
        try: return '%.2g' % (float(banner.clicks)/float(banner.views))
        except: return 0

<h1>Banners $:medium</h1>

<style type="text/css">
    td, th {
        border: 1px solid gray;
        margin: 0;
        padding: 3px;
        text-align: center;
    }
    th {
        background: lightgray;
    }
</style>

<ul>
    <li>
        <a href="/$:medium">Todo</a>
    </li>
    $for z in zones:
        <li>
            <a href="/$:medium?zone=$z[0]">Zona $z[1]</a> [<a href="http://ad.openmultimedia.biz/$:medium/$z[0]/">ver zona</a>]
        </li>
</ul>

<table cellspacing="0">
    <thead>
        <tr>
            <th>Zona</th>
            <th>Banner</th>
            <th style="width: 200px;">Link</th>
            <th>Colocación</th>
            <th>Impresiones</th>
            <th>Clicks</th>
            <th>clicks/impresión</th>
            <th>Acciones</th>
        </tr>
    </thead>
    
$for banner in banners:
    <tr>
        <th><strong><big>$banner.zone</big></strong></th>
        <td><a href="$banner.file"><img src="/$banner.file" style="max-width:100px; max-height:100px;"></a></td>
        <td><small><a href="$banner.link" target="_blank">$banner.link</a></small></td>
        <td>$banner.created_at</td>
        <td>$banner.views</td>
        <td>$banner.clicks</td>
        <td>$rate(banner)</td>
        <td><a href="/$:medium/edit/$banner.id">Editar</a>
    </tr>

</table>